.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 5px;
}

.cart-item-img {
  margin-right: 10px;
}

.cart-item-name {
  flex-grow: 1;
  font-size: 13px;
  margin-right: 5px;
}

.cart-item-price {
  margin-right: 10px;
  font-size: 15px;
}

.cart-delete-item {
  margin-left: auto;
  border: none;
  padding: 4px;
  background-color: var(--color-Purple);
}

.cart-delete-item:hover {
  cursor: pointer;
  background-color: var(--color-intermediatePurple);
}

.item-img {

  object-fit: contain;
  object-position: center center;
}
