.dark-mode {
  max-width: 1920px;
  margin: 0 auto;
}

.light-mode {
  max-width: 1920px;
  margin: 0 auto;
}

.Placas-Element-1 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.Element-1-ImgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Element-1-IMG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Element-1-textContainer {
  position: absolute;
  max-width: 800px;
  margin: auto;
  padding: 0 10px;
}

.Element-1-textContainer h1 {
  font-size: 65px;
  font-weight: 900;
}

.Element-1-textContainer p {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.Placas-Search-Container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0 160px;
}

.Search-headBar {
  display: flex;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1%;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 2px solid var(--color-Purple);
  background-color: var(--color-intermediatePurple);
}

.Search-Order {
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}

.Search-Order div {
  display: flex;
  margin-right: 20px;
  gap: 0.5rem;
}

.Search-Items-Container {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
}

.Search-Items-Render {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  flex-direction: column;
  margin-left: 2%;
}

.Search-Item-Head {
  padding: 10px 0px;
}

.Search-Item-Card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-pack: start;
}

.Search-PanelFilter {
  display: flex;
  flex-direction: column;
  width: 17%;
  padding-right: 2%;
  min-width: 250px;
}

.Placas-Navegation {
  width: 100%;
  height: 65px;
  background-color: var(--color-intermediatePurple);
  display: flex;
  -webkit-box-pack: center;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  border: 2px solid var(--color-Purple);
}

.navegation {
  margin-left: 7px;
  display: flex;
  gap: 0.4rem;
}

.home-button {
  border: none;
  background: none;
}

.home-button a {
  text-decoration: none;
}

.Button-Mode-1 {
  display: flex;
  margin: 0 3px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.Button-Mode-1:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: var(--color-Purple);
}

.Trends-Item:hover .Trends-Product-Buy {
  pointer-events: auto;
  bottom: -25px;
  opacity: 1;
}

select {
  font-size: 16px;
  border: none;
  background-color: var(--color-Purple);
}

option {
  font-size: 14px;
  color: #ffffff;
  background-color: var(--color-Purple);
}

option:checked {
  background-color: #007bff;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100px;
  height: 20px;
  background: #ddd;
  outline: none;
  border-radius: 5px; 
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 22px;
  background: var(--color-Purple);
  border-radius: 5px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb::active {
  background: #0056b3;
}

@media (max-width: 1200px) {
  .Element-1-textContainer h1 {
    font-size: 50px;
  }

  .Element-1-textContainer p {
    font-size: 14px;
  }

  .Placas-Search-Container {
    padding: 0 80px;
  }
}

@media (max-width: 1030px) {
  .Placas-Search-Container {
    padding: 0;
  }
}

@media (max-width: 900px) {
  .Element-1-textContainer h1 {
    font-size: 40px;
  }

  .Element-1-textContainer p {
    font-size: 10px;
  }
}

@media (max-width: 870px) {
  .Search-headBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1%;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid var(--color-Purple);
    background-color: var(--color-intermediatePurple);
  }

  .Search-Order {
    display: flex;
    flex-wrap: wrap;
  }

  .Search-Order > div {
    flex-basis: calc(50% - 10px);
    margin-right: 10px;
  }
}

@media (max-width: 760px) {
  .Element-1-textContainer {
    left: 10px;
  }

  .Element-1-textContainer h1 {
    font-size: 25px;
  }

  .Element-1-textContainer p {
    font-size: 10px;
  }

  .Element-1-IMG {
    height: 300px;
  }
}

@media (max-width: 550px) {
  label {
    font-size: 11px;
  }

  .Search-Order span {
    font-size: 12px;
  }
}
