.dark-mode {
  max-width: 1920px;
  margin: 0 auto;
}

.light-mode {
  max-width: 1920px;
  margin: 0 auto;
}

.Placas-Element-1 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  /*background-color: rgb(255, 255, 255);*/
  margin-bottom: 20px;
}

.Element-1-IMG {
  width: 100%;
  height: 100%;
}

.Element-1-textContainer {
  position: absolute;
  margin: auto;
  left: 60px;
  max-height: 80%;
  overflow: auto;
}

.Element-1-textContainer h1 {
  font-size: 65px;
  font-weight: 900;
}

.Element-1-textContainer p {
  font-size: 20px;
  font-weight: 400;
  width: 800px;
  text-align: left;
}

.Placas-Search-Container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0 160px;
}

.Search-headBar {
  display: flex;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1%;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 2px solid var(--color-Purple);
  background-color: var(--color-intermediatePurple);
}

.Search-Order {
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}

.Search-Order div {
  display: flex;
  margin-right: 20px;
  gap: 0.5rem;
}

.Search-Items-Container {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
}

.Search-Items-Render {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  flex-direction: column;
  margin-left: 2%;
}

.Search-Item-Head {
  padding: 10px 0px;
}

.Search-Item-Card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-pack: start;
}

.Search-PanelFilter {
  display: flex;
  flex-direction: column;
  width: 17%;
  padding-right: 2%;
  min-width: 250px;
}

.Placas-Navegation {
  width: 100%;
  height: 65px;
  background-color: var(--color-intermediatePurple);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  top: 0px;
  border: 2px solid var(--color-Purple);
  z-index: 504;
}

.Button-Mode-Mod {
  display: flex;
  background-color: blue;
}
