* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.Logo {
  transition: filter 0.5s ease;
  cursor: pointer;
}

.Logo:hover {
  filter: drop-shadow(0 0 5px #e5cff7);
}

.Container {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
}

.Logo-Container {
  height: 100%;
  min-width: 150px;
  width: 150px;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}

.Buttons {
  display: flex;
  flex-direction: row;
}

.User-Button {
  display: flex;
  margin: 0 3px;
  padding: 10px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}

.User-Button:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: var(--color-Purple);
}

.Search-Button {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-image: initial;
  background-color: transparent;
  color: rgb(169, 168, 182);
  margin-right: 5px;
  position: absolute;
  right: 0px;
  top: 6px;
  z-index: 10;
  height: 23px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 50px;
  border-left: 1px solid var(--color-intermediatePurple);
}

.Search::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.Search-Container {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 1;
}

.icon-search:hover {
  cursor: pointer;
}

.Search {
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid var(--color-intermediatePurple);
  background-color: #540795;
  padding-left: 15px;
  height: 35px;
  transition: all 0.2s ease 0s;
  font-size: 16px;
  z-index: 10;
  font-family: var(--font-roboto);
  width: 100%;
  text-align: left;
}

.Cart-Button {
  display: flex;
  margin: 0 3px;
  padding: 10px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}

.Cart-Button:hover {
  cursor: pointer;
  opacity: 0.7;
  background-color: var(--color-Purple);
}

.cart-not-empty {
  animation: scaleAnimation 2s infinite;
  background-color: var(--color-Purple);
}

.Button-Mode {
  display: flex;
  margin: 0 3px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.Button-Mode:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: var(--color-Purple);
}

.Navbar {
  width: 100%;
  height: 65px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: sticky;
  top: -1px;
  z-index: 504;
  padding: 0 160px;
  background-color: #713abe;
}

.All-Categories {
  z-index: 500;
  color: white;
  width: 100%;
  height: 50px;
  border-top: 1px solid #530a8fb7;
  background-color: var(--color-intermediatePurple);
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: sticky;
  top: 64px;
  left: 0px;
  padding: 0 160px;
}

.Categories-Container {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
}

.Categories {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap: 20px;
  transition: all 0.3s ease 0s;
  padding-right: 20px;
  margin: 0 500px;
}

.Category-Element {
  height: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.4s ease 0s;
  padding: 0px 5px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.Category-Element:hover {
  border-bottom: 2px solid var(--color-Purple);
}

.Category-link {
  font-size: 14px;
  color: var(--color-lightpink);
  text-decoration-line: none;
}

.Displace__Content {
  display: none;
}

.Web-Container {
  max-width: 1920px;
  margin: 0 auto;
}

.Web-Title {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-Purple);
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 2px 10px var(--color-Purple) inset;
  transition: box-shadow 0.3s ease;
}

.Web-Title-2 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-lightpink);
  background-color: #242424;
  text-align: center;
  box-shadow: 0 2px 10px var(--color-Purple) inset;
  transition: box-shadow 0.3s ease;
}

.Web-Title:hover {
  box-shadow: 0 0 15px 3px var(--color-intermediatePurple) inset;
}

.Web-Title-2:hover {
  box-shadow: 0 0 15px 3px var(--color-intermediatePurple) inset;
}

.Carrousel-Item {
  position: relative;
  width: 100%;
}

.Carrousel-ImageWrapper {
  position: relative;
  height: 500px;
  outline: none;
}

.Carrousel-ImageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Carrousel-Text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  padding: 10px;
}

.Carrousel-Text h1 {
  font-size: 24px;
  margin: 0;
}

.Carrousel-Text button {
  background-color: var(--color-Purple);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Carrousel-Text button:hover {
  background-color: var(--color-intermediatePurple);
}

.Featured-Container {
  width: calc(100% - 320px);
  height: 604px;
  margin: 80px 160px;
}

.Featured-Title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.Featured-Main-Container {
  width: 100%;
  height: 234px;
  display: flex;
  flex-direction: column;
}

.Featured-Links {
  width: 100%;
  height: 234px;
  display: flex;
}

.videocards-link {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 234px;
}

.Featured-Contain {
  height: auto;
  width: 100%;
  height: 234px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.Featured-Img-Video {
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Añade un fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Oculta el overlay por defecto */
  transition: opacity 0.3s ease; /* Añade una transición suave */
}

.Featured-Contain:hover .overlay {
  opacity: 1; /* Muestra el overlay al hacer hover */
}

.text-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  transition: opacity 0.5s ease;
}

.container:hover .text-menu {
  opacity: 1;
}

.Trends-Container {
  height: auto;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left top;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 160px;
  margin-bottom: 10px;
}

.Trends-Header {
  width: 100%;
  height: 95px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.Trends-Subheader {
  width: 100%;
  height: 100px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.Trends-Title {
  font-weight: bold;
  font-size: 35px;
  font-family: var(--font-roboto);
}

.Trends-Body {
  width: 100%;
  position: relative;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}

.Trends-Items {
  position: relative;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  gap: 15px;
  overflow: hidden;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  height: 500px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.Trends-Item {
  position: relative;
  left: 0px;
  top: -15px;
  margin-right: 20px;
  width: 260px;
  min-width: 260px;
  height: 425px;
  transition: left 0.3s ease 0s;
  z-index: 1;
}

.Trends-MainContainer {
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  width: 260px;
  min-width: 260px;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
  position: relative;
  border: 4px solid rgb(246, 246, 246);
  cursor: pointer;
}

.Trends-SubContainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.1s ease 0s;
  background-color: white;
  cursor: pointer;
}

.Trends-ImgContainer {
  width: 100%;
  height: 210px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  padding-right: 35px;
  padding-bottom: 35px;
  padding-left: 35px;
  transition: all 0.3s ease 0s;
  position: relative;
  padding-top: 60px;
}

.Trends-Product-Img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center center;
}

.Trends-Product-Info {
  position: absolute;
  color: var(--color-Purple);
  height: calc(100% - 210px);
  bottom: -25px;
  padding: 0px 15px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s ease 0s;
}

.Product-Main-Price {
  font-size: 35px;
  font-weight: 500;
  box-sizing: border-box;
  transition: all 0.2s ease 0s;
}

.Product-Main-Info {
  overflow: hidden;
  height: 60px;
  padding-right: 1px;
  background-color: white;
  display: block;
}

.Trends-Product-Buy {
  transition: all 0.4s ease;
  position: absolute;
  bottom: -60px;
  left: 0px;
  width: 100%;
  height: 62px;
  opacity: 0;
  pointer-events: none;
}

.Trends-Item:hover .Trends-Product-Buy {
  pointer-events: auto;
  opacity: 1;
}

.Trends-MainContainer:hover .Trends-Product-Info {
  height: calc(100% - 235px);
  bottom: -10px;
}

.Trends-MainContainer:hover .Trends-ImgContainer {
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 50px;
}

.Trends-MainContainer:hover {
  border: 3px solid var(--color-Purple);
}

.Buy-Button {
  width: 100%;
  height: 40px;
  background-color: var(--color-Purple);
  color: white;
  border-width: 2px;
  border-color: transparent;
  border-style: solid;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
  font-size: 23px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  line-height: 23px;
}

.Web-End {
  width: 100%;
  height: auto;
  background-color: var(--color-intermediatePurple);
  color: white;
  border-top: 1px solid rgba(144, 139, 194, 0.2);
}

.Web-End-Containers {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;
}

.Web-End-Categorys {
  max-width: 600px;
}

.Web-End-Categorys h4 {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.Web-End-Categorys ul {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
}

.Web-End-Categorys li {
  width: 40%;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  position: relative;
}

.Web-End-Categorys a {
  text-decoration: none;
  color: #ffffff;
}

.Web-End-SocialMedia {
  width: 350px;
}

.Redes {
  margin-top: 30px;
}

.Redes-link {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 40px;
}

.Redes h4 {
  font-size: 17px;
  margin-bottom: 35px;
  text-align: center;
}

.Mail {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.Mail h4 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 17px;
}

.Mail a {
  text-decoration: none;
  padding: 2px;
  border: 1px solid var(--color-Purple);
  color: #ffffff;
  transition: 1s ease;
}

.Mail a:hover {
  background-color: var(--color-Purple);
}

.Mas-Button {
  border: none;
  background-color: var(--color-intermediatePurple);
  padding: 5px;
  transition: 1s ease;
}

.Mas-Button:hover {
  cursor: pointer;
  background-color: var(--color-Purple);
}

.Product-Stock {
  max-height: 60px;
  overflow: hidden;
}

.Product-tags {
  display: flex;
  position: relative;
  width: fit-content;
}

.Product-cardtag {
  background-color: rgb(0, 207, 97);
  border-radius: 1px;
  margin-right: 5px;
  margin-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  height: 25px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
}

.Product-cardtag-none {
  background-color: rgb(183, 183, 183);
  border-radius: 1px;
  margin-right: 5px;
  margin-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  height: 25px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
}

.Product-cardtag-none {
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-roboto);
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Product-cardtag p {
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-roboto);
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Mas-Button a {
  text-decoration: none;
  color: #ffffff;
}

.Web-End {
  padding: 55px 50px 20px;
}

.List-tag li a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  justify-content: center;
}

@media (min-width: 750px) {
  .Mail {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1750px) {
  .Trends-Items {
    overflow: scroll;
    scrollbar-width: thin;
    overflow-y: hidden;
  }
}

@media (max-width: 1670px) {
  .Carrousel-Text h1 {
    margin: 2px;
    font-size: 20px;
  }

  .Carrousel-Text button {
    background-color: var(--color-Purple);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}

@media (max-width: 1450px) {
  .Carrousel-Text h1 {
    margin: 2px;
    font-size: 14px;
  }

  .Carrousel-Text button {
    background-color: var(--color-Purple);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}

@media (max-width: 1050px) {
  .Web-End-Categorys ul {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    gap: 5px;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .Web-End-Categorys li {
    width: 65%;
  }

  .Web-End {
    padding: 20px 20px 20px;
  }

  .Web-End-Containers {
    flex-wrap: nowrap;
    gap: 10px;
  }
}

@media (max-width: 900px) {
  .Carrousel-Text h1 {
    margin: 2px;
    font-size: 14px;
  }

  .Carrousel-Text button {
    background-color: var(--color-Purple);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}

@media (max-width: 1864px) {
  .Search-Background {
    position: relative;
    border-radius: 20px;
    width: 10%;
    padding: 0 10px;
    margin: 0 5px 0 0px;
  }

  .Container {
    display: flex;
    justify-content: baseline;
  }

  .Categories {
    display: none;
  }

  .List li {
    display: inline-block;
    position: relative;
  }

  .dropdown {
    list-style: none;
  }

  .dropdown li {
    display: inline-block;
    position: relative;
  }

  .List li a {
    display: flex;
    align-items: center;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
  }

  ul li ul.dropdown li {
    display: block;
  }

  ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    background: var(--color-intermediatePurple);
    transform: scaleY(0);
    transform-origin: top;
  }

  ul li a:hover {
    color: var(--color-Purple);
  }

  ul li:hover ul.dropdown {
    border: 1px solid var(--color-Purple);
    display: block;
    animation: moveDown 0.5s ease forwards;
  }
}

@media (min-width: 1865px) {
  .Category-drop {
    display: none;
  }
}

@media (min-width: 801px) {
  .burger {
    display: none;
  }
}

@media (max-width: 800px) {
  .Logo-Container {
    position: absolute;
    width: 40px;
    top: 0px;
    left: -20px;
  }

  .Logo {
    width: 170px;
  }

  .Buttons {
    position: absolute;
    top: -700px;
    left: -2000px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all 0.5s ease;
  }

  .initial {
    position: fixed;
    background-color: var(--color-intermediatePurple);
    top: -700px;
    left: -1000px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.8s ease;
    &.active {
      border-radius: 0 0 80% 0;
      top: 0;
      left: 0;
    }
  }

  .Buttons.active {
    margin-top: 100px;
    width: 100%;
    display: grid;
    position: absolute;
    justify-content: center;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
  }

  .burger {
    display: flex;
    margin-right: -130px;
    z-index: 2;
  }

  .User-Button {
    display: inline-flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
  }

  .Cart-Button {
    margin-top: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .Button-Mode {
    margin-top: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .NavBar-Text {
    margin-left: 20px;
    display: flex;
  }

  .Container {
    display: flex;
  }

  .Search-Background {
    position: absolute;
    border-radius: 20px;
    width: 10%;
    padding: 0 10px;
    margin: 0 5px 0 0px;
  }

  .Search-Container {
    width: 200%;
    left: -37px;
  }

  .Search::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  .All-Categories {
    padding: 0 10px; /* Reducir el espacio horizontal */
  }

  .Carrousel-ImageContainer {
    height: 270px;
  }

  .Carrousel-Text {
    position: absolute;
    bottom: 10px;
    left: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 6px;
  }

  .Carrousel-Text h1 {
    font-size: 14px;
    margin: 2px;
  }

  .Carrousel-Text button {
    background-color: var(--color-Purple);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .Carrousel-Text button:hover {
    background-color: var(--color-intermediatePurple);
  }

  .Featured-Container {
    width: 100%;
    height: 604px;
    margin: 25px 0px;
  }

  .Featured-Title {
    font-size: 35px;
  }

  .overlay {
    opacity: 1;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .text-menu {
    position: relative;
    font-size: 13px;
    padding: 15px 15px;
  }

  .Trends-Container {
    padding: 0 10px;
  }

  .Trends-Items {
    margin-left: 10px;
    margin-right: 10px;
    overflow: auto hidden;
    width: 100%;
  }

  .Trends-Title {
    font-size: 30px;
    font-weight: bold;
  }

  .Trends-MainContainer:f .Trends-Product-Buy {
    bottom: -10px;
  }

  .Trends-MainContainer:focus .Trends-Product-Info {
    height: calc(100% - 235px);
    bottom: 40px;
  }

  .Trends-MainContainer:focus .Trends-ImgContainer {
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 50px;
  }

  .Trends-MainContainer:focus {
    border: 2px solid var(--color-Purple);
  }

  .Web-End-Containers {
    gap: 0px;
  }

  .Web-End-Categorys li {
    width: 90%;
  }

  .Web-End-SocialMedia {
    width: 350px;
  }
}

@media (max-width: 480px) {
  .Trends-Items {
    scrollbar-width: none;
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
