* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

.Logo {
  transition: filter 0.5s ease;
  cursor: pointer;
}

.Logo:hover {
  filter: drop-shadow(0 0 5px #e5cff7);
}

.Container {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
}

.Logo-Container {
  display: flex;
  height: 100%;
  min-width: 150px;
  width: 150px;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}

.User-Button {
  display: flex;
  margin-left: auto;
  padding: 10px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  outline: solid 0px;
}

.User-Button:hover {
  cursor: pointer;
  outline-width: 2px;
  opacity: 0.7;
}

.Search-Background {
  background-color: #e5cff7;
  border-radius: 15px;
  padding: 0 15px;
  width: 70%;
  height: 50%;
  margin: 0 auto;
  transition: width 0.5s ease;
}

.Search-Button {
  cursor: pointer;
  height: 20px;
  border: none;
  background: none;
  outline: none;
}

.Search-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-search:hover {
  color: #713abe;
}

.Search {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  color: #713abe;
  margin: 5.5px 0;
}

.Cart-Button {
  display: flex;
  padding: 10px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  outline: solid 0px;
}

.Cart-Button:hover {
  cursor: pointer;
  outline-width: 2px;
  opacity: 0.7;
}

.Button-Mode {
  display: flex;
  margin: 0 10px;
  border: none;
  background: none;
  outline: none;
}

.Button-Mode:hover {
  cursor: pointer;
}

.Navbar {
  width: 100%;
  height: 65px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: sticky;
  top: -1px;
  z-index: 504;
  padding: 0 160px;
  background-color: #713abe;
}

.All-Categories {
  z-index: 500;
  color: white;
  width: 100%;
  height: 50px;
  border-top: 2px solid rgba(124, 124, 124, 0.27);
  background-color: var(--color-intermediatePurple);
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: sticky;
  top: 63px;
  left: 0px;
  padding: 0 160px;
}

.Categories-Container {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
}

.Categories {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap: 20px;
  transition: all 0.3s ease 0s;
  padding-right: 20px;
}

.Category-Element {
  height: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.4s ease 0s;
  padding: 0px 5px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.Category-Element:hover {
  border-bottom: 2px solid var(--color-Purple);
}

.Displace__Content {
  display: none;
}

.Web-Container {
  max-width: 1920px;
  margin: 0 auto;
}

.Web-Title {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-Purple);
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 2px 10px var(--color-Purple) inset;
  transition: box-shadow 0.3s ease;
}

.Web-Title-2 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-lightpink);
  background-color: #242424;
  text-align: center;
  box-shadow: 0 2px 10px var(--color-Purple) inset;
  transition: box-shadow 0.3s ease;
}

.Web-Title:hover {
  box-shadow: 0 0 15px 3px var(--color-intermediatePurple) inset;
}

.Web-Title-2:hover {
  box-shadow: 0 0 15px 3px var(--color-intermediatePurple) inset;
}

.Carrousel-Item {
  position: relative;
  width: 100%;
  max-width: 120em;
  height: auto;
  overflow: hidden;
}

.Carrousel-ImageContainer {
  display: flex;
  width: 100%;
  height: 100%; /* Cambiar altura a 100% */
  user-select: none;
}

.Carrousel-ImageWrapper {
  position: relative;
  flex-grow: 1;
  margin-right: 0;
  max-width: 25%;
}

.Carrousel-ImageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease;
  border: 2px solid #713abe;
}

.Carrousel-ImageWrapper:hover img {
  filter: contrast(115%);
  transform: scale(1.05);
}

.Carrousel-Text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.Carrousel-Text h1 {
  margin: 2px;
}

.Carrousel-Text button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Carrousel-Text button:hover {
  background-color: #cccccc;
}

.Featured-Container {
  width: calc(100% - 320px);
  height: 604px;
  margin: 80px 160px;
}

.Featured-Title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.Featured-Main-Container {
  width: 100%;
  height: 234px;
  display: flex;
  flex-direction: column;
}

.Featured-Links {
  width: 100%;
  height: 234px;
  display: flex;
}

.videocards-link {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 234px;
}

.Featured-Contain {
  height: auto;
  width: 100%;
  height: 234px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.Featured-Img-Video {
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Añade un fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Oculta el overlay por defecto */
  transition: opacity 0.3s ease; /* Añade una transición suave */
}

.Featured-Contain:hover .overlay {
  opacity: 1; /* Muestra el overlay al hacer hover */
}

.text-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  transition: opacity 0.5s ease;
}

.container:hover .text-menu {
  opacity: 1;
}

.Trends-Container {
  height: auto;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left top;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 160px;
}

.Trends-Header {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.Trends-Title {
  font-weight: 500;
  font-size: 40px;
  font-family: var(--font-roboto);
}

.Trends-Body {
  width: 100%;
  position: relative;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}

.Trends-Items {
  position: relative;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  gap: 15px;
  overflow: hidden;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  height: 500px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.Trends-Item {
  position: relative;
  left: 0px;
  margin-right: 20px;
  width: 260px;
  min-width: 260px;
  height: 425px;
  transition: left 0.3s ease 0s;
}

.Trends-MainContainer {
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  width: 260px;
  min-width: 260px;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
  position: relative;
  border: 2px solid rgb(246, 246, 246);
}

.Trends-SubContainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.1s ease 0s;
  background-color: white;
  cursor: pointer;
}

.Trends-ImgContainer {
  width: 100%;
  height: 210px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  padding-right: 35px;
  padding-bottom: 35px;
  padding-left: 35px;
  transition: all 0.3s ease 0s;
  position: relative;
  padding-top: 60px;
}

.Trends-Product-Img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center center;
}

.Trends-Product-Info {
  position: absolute;
  color: var(--color-Purple);
  height: calc(100% - 210px);
  bottom: 0px;
  padding: 0px 15px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s ease 0s;
}

.Product-Main-Price {
  font-size: 35px;
  font-weight: 500;
  box-sizing: border-box;
  transition: all 0.2s ease 0s;
}

.Product-Main-Info {
  overflow: hidden;
  height: 65px;
  padding-right: 1px;
  background-color: white;
  display: block;
  margin-bottom: 10px;
}

.Trends-Product-Buy {
  transition: all 0.3s ease 0s;
  position: absolute;
  bottom: -60px;
  left: 0px;
  width: 100%;
  height: 59px;
}

.Trends-MainContainer:hover .Trends-Product-Buy {
  bottom: -10px;
}

.Trends-MainContainer:hover .Trends-Product-Info {
  height: calc(100% - 235px);
  bottom: 40px;
}

.Trends-MainContainer:hover .Trends-ImgContainer {
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 50px;
}

.Trends-MainContainer:hover {
  border: 2px solid var(--color-Purple);
}

.Buy-Button {
  width: 100%;
  height: 50px;
  background-color: var(--color-Purple);
  color: white;
  border-width: 2px;
  border-color: transparent;
  border-style: solid;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
  font-size: 23px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  line-height: 23px;
}

.Web-End {
  width: 100%;
  height: auto;
  background-color: var(--color-intermediatePurple);
  color: white;
  border-top: 1px solid rgba(144, 139, 194, 0.2);
}

@media (min-width: 1600px) {
  .Web-End {
    padding: 55px 160px 100px;
  }
}

@media (max-width: 768px) {
  .Logo-Container {
    position: absolute;
    width: 40px;
    top: 0px;
    left: -20px;
  }

  .Logo {
    width: 170px;
  }

  .User-Button {
    margin-right: 10px;
  }

  .Container {
    position: absolute;
  }

  .Search-Background {
    border-radius: 20px;
    width: 10%;
    padding: 0 10px;
    margin: 0 5px 0 0px;
  }

  .Search-Button {
    position: inherit;
  }

  .Search-Background.expanded {
    width: 37%;
    display: flex;
  }

  .Search::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  .All-Categories {
    padding: 0 10px; /* Reducir el espacio horizontal */
  }

  .Carrousel-ImageContainer {
    height: 270px;
  }

  .Carrousel-Text {
    position: absolute;
    bottom: 10px;
    left: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
  }

  .Carrousel-Text h1 {
    font-size: 15px;
    margin: 2px;
  }

  .Carrousel-Text button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .Carrousel-Text button:hover {
    background-color: #cccccc;
  }

  .Featured-Container {
    width: 100%;
    height: 604px;
    margin: 0;
  }

  .overlay {
    opacity: 1;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .text-menu {
    position: relative;
    font-size: 17px;
  }

  .Trends-Container {
    padding: 0 10px;
  }

  .Trends-Items {
    margin-left: 10px;
    margin-right: 10px;
    overflow: auto hidden;
    width: 100%;
  }

  .Trends-MainContainer:f .Trends-Product-Buy {
    bottom: -10px;
  }
  
  .Trends-MainContainer:focus .Trends-Product-Info {
    height: calc(100% - 235px);
    bottom: 40px;
  }
  
  .Trends-MainContainer:focus .Trends-ImgContainer {
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 50px;
  }
  
  .Trends-MainContainer:focus {
    border: 2px solid var(--color-Purple);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
