:root {
  --color-Purple: #5b0888;
  --color-intermediatePurple: #713abe;
  --color-lightPurple: #9d76c1;
  --color-lightpink: #e5cff7;
  --background-color-dark: #242424;
  --background-color-light: #ffffff;
  --font-roboto: "Roboto", sans-serif;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

body {
  overflow-x: hidden;
}

.Buttons span {
  color: white;
  font-size: 1.3rem;
  display: block;
}

.Element-1-textContainer h1 {
  color: white;
}

.Element-1-textContainer p {
  color: white;
}

.dark-mode {
  background-color: #242424;
  color: white;
  transition: background-color 0.3s ease;
}

.light-mode {
  background-color: #ffffff;
  color: #242424;
  transition: background-color 0.3s ease;
}

.cart-modal.dark-mode {
  background-color: #242424;
  color: white;
  transition: background-color 0.3s ease;
}

.cart-modal.light-mode {
  background-color: #ffffff;
  color: #242424;
  transition: background-color 0.3s ease;
}
